<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.first_name %> <%= @user.last_name %>!</h1>
    <p>
        Welcome to AucShoes! You have successfully created an account!<br>
        <br>
        In AucShoes, you will have access to a variety of shoes in the<br>
        smartest way possible. AucShoes offers a one-of-a-kind shoe<br>
        experience where shoe collectors, enthusiasts, sellers, or<br>
        soon-to-be fanatics can buy and sell hottest sneakers/shoes.
    </p>
    <br>
    <p>Thank you for joining AucShoes. Place your bets, see the whole place is set!</p>
    <br>
    <br>
    <p><i>This is an automated message, please do not reply.</i></p>
  </body>
</html>