
<div>
    <%= form_with model: [@shoe, @auction, @bid] do |f| %>
        <div class="form-outline ">
            <%= f.number_field :price, step: 0.01, autofocus: true, id:"typeNumber", class:"form-control" %>
            <label class="form-label" for="typeNumber">Input Bid</label>
        </div>

    <div>

    </div>
        <div class="text-center">
            <%= f.submit class:'btn btn-success mt-2 btn-lg'%>
        </div>
    <% end %>
</div>



