<%= render "layouts/navbar" %>

<h1>Available Auctions</h1>

<div>
  <% @auctions.each do |auction| %>
    <%= link_to shoe_auction_path(auction.shoe.id, auction.id) do %>
      <%# Auction Card %>
      <%= render "auction_card", auction: auction %>
    <% end %>
  <% end %>
</div>