<div class="container mt-5">
    <h1>FAQs Page</h1>

    <div class="accordion" id="accordionExampleY">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOneY">
        <button class="accordion-button" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#collapseOneY" aria-expanded="true" aria-controls="collapseOneY">
            <i class="fa-solid fa-plus fa-sm me-2 opacity-70"></i>How do I bid a shoe?
        </button>
        </h2>
        <div id="collapseOneY" class="accordion-collapse collapse show" aria-labelledby="headingOneY"
        data-mdb-parent="#accordionExampleY">
        <div class="accordion-body">
            Click on the <strong>Auction</strong> button on the navigation bar to see the list of available shoes.
            And then choose the shoe you want. Place a bid higher to the recent or starting price.
        </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwoY">
        <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#collapseTwoY" aria-expanded="false" aria-controls="collapseTwoY">
            <i class="fa-solid fa-plus fa-sm me-2 opacity-70"></i>How do I see all of my bids?
        </button>
        </h2>
        <div id="collapseTwoY" class="accordion-collapse collapse" aria-labelledby="headingTwoY"
        data-mdb-parent="#accordionExampleY">
        <div class="accordion-body">
            Navigate on your <strong>Dashboard</strong> below your profile is the list of your recent bids. You can show all of your bids by clicking on the <strong> All Bids</strong> button below.
        </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThreeY">
        <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#collapseThreeY" aria-expanded="false" aria-controls="collapseThreeY">
            <i class="fa-solid fa-plus fa-sm me-2 opacity-70"></i>How to add a shoe?
        </button>
        </h2>
        <div id="collapseThreeY" class="accordion-collapse collapse" aria-labelledby="headingThreeY"
        data-mdb-parent="#accordionExampleY">
        <div class="accordion-body">
            You can add a shoe to your account by navigating on your <strong>Dashboard</strong> page. Click on <strong>All Shoes</strong> and then click on <strong>Add Shoe</strong> button and start adding your shoe details.
        </div>
        </div>
    </div>
    </div>
</div>
