<%= render "layouts/navbar" %>

<h1> Home Page </h1>

<h1>Trending Now | See All</h1>
    <%= render "trending" %>

<%# PATH:   /trending %>
Sa See All: All Auctions with bids.count > 0

<h1>Coming Soon!/Release Calendar</h1>
    <%= render "coming_soon" %>

<%# PATH:   /coming_soon %>
Sa See All: All Auctions with StartDate > Datetime.now