<%= render "layouts/navbar" %>

<h1>
    Trending Now <%= link_to "See All", open_auctions_path %>
</h1>
<div>
    <% if @trending.present? %>
        <% @trending.each do |auction| %>
            <%# Auction Card %>
            <%= render "auctions/auction_card", auction: auction %>
        <% end %>
    <% else %>
        No Trending Auctions yet
    <% end %>
</div>


<h1>Coming Soon</h1>
<div>
    <% if @coming_soon.present? %>
        <% @coming_soon.each do |auction| %>
            <%# Auction Card %>
            <%= render "auctions/auction_card", auction: auction %>
        <% end %>
    <% else %>
        <div>No Upcoming Auctions yet</div>
    <% end %>
</div>