

    <div id="introCarousel" class="carousel slide carousel-fade shadow-2-strong" data-mdb-ride="carousel" style="margin-top: 50px;">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-mdb-target="#introCarousel" data-mdb-slide-to="0" class="active"></li>
        <li data-mdb-target="#introCarousel" data-mdb-slide-to="1"></li>
        <li data-mdb-target="#introCarousel" data-mdb-slide-to="2"></li>
      </ol>

      <!-- Inner -->
      <div class="carousel-inner">
        <!-- Single item -->
        <div class="carousel-item active">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white text-center">
                <%= image_tag('aucshoes-nav.png', width: '90')%>
                <h1 class="mb-3">AucShoes</h1>
                <h5 class="mb-4">Best & hassle free shoe auctions!</h5>
                <a
                  class="btn btn-outline-light btn-lg m-2"
                  href="/users/sign_up"
                  role="button"
                  rel="nofollow"
                  >Register Now</a
                >
                <a
                  class="btn btn-outline-light btn-lg m-2"
                  href="/faq"
                  role="button"
                  >See our FAQs</a
                >
              </div>
            </div>
          </div>
        </div>

        <!-- Single item -->
        <div class="carousel-item">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white text-center">
                <h2>Bid on the shoe you want! </h2>
              </div>
            </div>
          </div>
        </div>

        <!-- Single item -->
        <div class="carousel-item">
          <div
            class="mask"
            style="
              background: linear-gradient(
                45deg,
                rgba(235, 157, 14, 0.7),
                rgba(91, 14, 214, 0.7) 100%
              );
            "
          >
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white text-center">
                <h2>Join and bid the shoe you love!</h2>
                <a
                  class="btn btn-outline-light btn-lg m-2"
                  href="/open_auctions"
                  target="_blank"
                  role="button"
                  >See all Auctions</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Inner -->

      <!-- Controls -->
      <a class="carousel-control-prev" href="#introCarousel" role="button" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#introCarousel" role="button" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


<div class="container mt-5">
  <div class="row justify-content-between">
    <div class="col-4">
      <h4>Trending Sneakers <button class="fa-solid fa-circle-question" style="font-size: 18px" data-mdb-toggle="tooltip" data-mdb-placement="top" title="'Trending' products are a curated collection of our all time bids on auction!"></button></h4>
    </div>

    <div class="col-1">
      <%= link_to "See All", open_auctions_path %>
    </div>
  </div>
  <hr>
  <%= render "trending" %>


  <h4>Release Calendar</h4>
  <hr>
  <%= render "coming_soon" %>

</div>

