<%= render "layouts/navbar" %>

<h1>
    Trending Now <%= link_to "See All", open_auctions_path %>
</h1>
<div>
    <% if @trending.present? %>
        <%= render "trending" %>
    <% else %>
        No Trending Auctions yet
    <% end %>
</div>


<h1>Coming Soon</h1>
<div>
    <% if @coming_soon.present? %>
        <%= render "coming_soon" %>
    <% else %>
        <div>No Upcoming Auctions yet</div>
    <% end %>
</div>